*.sublime-workspace
google-services.json
*.iml
.gradle/
.DS_Store
.externalNativeBuild
idea/
.idea/
local.properties
gradle.properties


# These are configured to apply to each/all HW folders
/*/build
/*/*/build
/*/captures
